<div id="contact" class="about">
    <div class=" about-container">
        <%- include("partials/header") -%>

            <h1 class="about-title">Contact</h1>
    </div>
    <div class="container about-container2">
        <div class="contact-title">
            <h2 class="contact-subtitle">Contact <span>Info</span></h2>
            <p class="about-info">You have just invested in a new vehicle, the one
                of your dreams, and you take it.</p>
            <div class="contact-info top">
                <i class="fas fa-envelope"></i>
                <p class="contact-detail">Email<br>
                    getintouch@rha.com</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt"></i>
                <p class="contact-detail">Phone<br>
                    +1 (954) 363-6789</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="contact-detail">Address<br>
                    2781 Morningview Lane,<br>
                    New York, NY 10011</p>
            </div>
        </div>
        <div class="quote">
            <div class="quote-text">
                “Love is not patronizing and charity isn't about pity, it is about love. Charity and love are the same -- with charity you give love, so don't just give money but reach out your hand instead.”

            <br/>
            ― Mother Teresa
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer"); -%> 
-> 